/**
 * gobal全局样式，由于老的项目还在引用这个样式，暂时不删除
 */
@charset "utf-8";
/* =reset 网页样式重置
 * ------------------------------------------------------------------------------------------------------------------------------*/
html { 
    font-size:1em;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-tap-highlight:rgba(0,0,0,0);
    -webkit-text-size-adjust:none;
    overflow:-moz-scrollbars-vertical;}
body { 
    font-size:0.75em;
}
html,body{
    height: 100%;
}

body::-webkit-scrollbar{
    display: none;
}

label { 
    cursor:pointer;
}
a:link, a:visited { 
    text-decoration:none;
}
input:focus {
    outline: none; 
}
input,button,select,textarea{
    outline:none;
}

textarea{
    resize:none;
}

input:-webkit-autofill { 
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

textarea,input,select {
    background: none;
    border:none;
    margin: 0;
    padding: 0;
}

a, abbr, acronym, address, applet, article, aside, audio, b, blockquote, big, body, center, canvas, caption, cite, code, command, datalist, dd, del, details, dfn, dl, div, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, keygen, label, legend, li, meter, nav, menu, object, ol, output, p, pre, progress, q, s, samp, section, small, span, source, strike, strong, sub, sup, table, tbody, tfoot, thead, th, tr, tdvideo, tt,
u, ul, var {
    margin:0;
    padding:0;
}

/*html5设置*/
article, aside, footer, header, hgroup, nav, section, figure, figcaption { 
    display: block;
} 
h1, h2, h3, h4, h5, h6, th, td, table, input, button, select, textarea, sub{
    font-size:1em;
}
body, input, button, select, textarea, sub{ 
    font-family:MICROSOFT YaHei,Helvetica,Tahoma,sans-serif;
}
em, cite, address, optgroup { 
    font-style:normal;
}
kbd, samp, code { 
    font-family:monospace;
}

img, input, button, select, textarea { 
    vertical-align:middle;
    outline:none;
}
ul, ol { 
    list-style:none;
}
img, fieldset { 
    border:0;
}
abbr, acronym { 
    cursor:help; 
    border-bottom:1px dotted black;
}
table {
    width:100%;
    border-spacing:0;
    border:0;
}
table th, table td {
    border:0;
}
legend, hr { 
    overflow:hidden;
    position:absolute; 
    top:0; 
    left:0;
}

legend, hr, caption { 
    visibility:hidden; 
    font-size:0; 
    width:0;
    height:0; 
    line-height:0;}


.clearfix{
    zoom:1;
}

.clearfix:after {
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    clear: both;
}

.main {
    position: relative;
    height: 100%;
}
.map {
    position: relative;
    width: 910px;
    margin: 0 auto;
	height: 700px;
    background: #091726;
}

#map{
    position: absolute;
    top:0;
    left: 0;
}


.loading {
    position: absolute;
    left: 0;
    right: 0;
	height: 100%;
	background: #091726;
	text-align: center;
    z-index: 10;
}

.loading img {
	height: 50px;
    margin: auto 0;
}